html,
body {
	height: 100%;
}

body {
	font-weight: 400;
	@extend %oswald;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	background-color: $accent;
	color: $white;
	letter-spacing: 0.02em;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
}

path {
	transition: opacity 0.5s;
}

.main {
	flex-grow: 1 1 auto;
}

.inner-bg,
.wrapper-bg,
.box-bg {
	position: relative;

	@include mobile(){ 

		&::before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			width: 100%;
		}
	}
}

.inner-bg {

	@include mobile(){ 

		&::before {
			background-image: url('../images/main/bg-1.svg');
			height: 117%;
			background-size: cover;
			top: -8%;
		}
	}
}

.wrapper-bg {

	@include mobile(){ 

		&::before {
			background-image: url('../images/main/bg-2.svg');
			background-size: contain;
			width: 100%;
			height: 50%;
			bottom: 5%;
		}
	}
}

.box-bg {

	@include mobile(){ 

		&::before {
			background-image: url('../images/main/bg-3.png');
			background-size: cover;
			height: 66%;
			top: -15%;
			z-index: 3;
		}
	}
}

.container {
	max-width: 1130px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-title {
	letter-spacing: 0.2em;
	line-height: 0.9;
	text-transform: uppercase;
	@extend %cormorant;
	font-size: 200px;
	font-weight: 300;
}

.title {
	@extend %cormorant;
	font-size: 100px;
	font-weight: 400;

	@include desktop(){ 
		font-size: 70px;
		margin-bottom: 15px;
	}

	@include mobile(){ 
		margin-bottom: 10px;
		font-size: 40px;
	}
}

.logo {
	object-fit: cover;
}

.button {
	text-transform: uppercase;
	color: $black;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.1em;
	background-color: $blue;
	width: 100%;
	padding: 16px 0;
	transition: color 0.5s linear, background-color 0.5s linear;
	border: 1px solid transparent;

	&:hover,
	&:active {
		color: $white;
		background-color: $purple;
	}

	&--transparent {
		background-color: transparent;
		color: $white;
		border-color: $white;

		&:hover,
		&:active {
			background-color: $blue;
			border-color: $blue;
			color: $accent;
		}
	}
}

.hidden {
	overflow: hidden;
}

.breadcrumbs {

	&__list {
		display: flex;
		margin-bottom: 22px;
	}

	&__item {
		margin: 0 5px;
	}

	&__link {
		font-size: 12px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
	}
}





