html,
body {
	height: 100%;
}

body {
	font-weight: 400;
	@extend %oswald;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	background-color: $accent;
	color: $white;
	letter-spacing: 0.02em;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;

	&--product {
		justify-content: space-between;
	}
}

path {
	transition: opacity 0.5s;
}

.main {
	flex: 1 1 auto;

	&--product {
		position: relative;
		padding-top: 35px;
		
		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/product/bg-top.svg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 25%;
			width: 100%;
			top: -7%;
			z-index: -1;
		}

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 58%;
			background-image: url("../images/product/bg-right.png");
			background-repeat: no-repeat;
			background-size: contain;
			top: 20%;
			right: -64%;
		}

		@include laptop(){ 
			&::before,
			&::after {
				display: none;
			}
		}
	}
}

.inner-bg,
.wrapper-bg,
.box-bg {
	position: relative;

	@include mobile(){ 

		&::before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			width: 100%;
		}
	}
}

.inner-bg {

	@include mobile(){ 

		&::before {
			background-image: url('../images/main/bg-1.svg');
			height: 117%;
			background-size: cover;
			top: -8%;
		}
	}
}

.wrapper-bg {

	@include mobile(){ 

		&::before {
			background-image: url('../images/main/bg-2.svg');
			background-size: contain;
			width: 100%;
			height: 50%;
			bottom: 5%;
		}
	}
}

.box-bg {

	@include mobile(){ 

		&::before {
			background-image: url('../images/main/bg-3.png');
			background-size: cover;
			height: 66%;
			top: -15%;
			z-index: 3;
		}
	}
}

.container {
	max-width: 1130px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-title {
	letter-spacing: 0.2em;
	line-height: 0.9;
	text-transform: uppercase;
	@extend %cormorant;
	font-size: 200px;
	font-weight: 300;
}

.title {
	@extend %cormorant;
	font-size: 100px;
	font-weight: 400;

	@include desktop(){ 
		font-size: 70px;
		margin-bottom: 15px;
	}

	@include mobile(){ 
		margin-bottom: 10px;
		font-size: 40px;
	}
}

.logo {
	object-fit: cover;
}

.button {
	text-transform: uppercase;
	color: $black;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.1em;
	background-color: $blue;
	width: 100%;
	padding: 16px 0;
	transition: color 0.5s linear, background-color 0.5s linear;
	border: 1px solid transparent;

	&:hover,
	&:active {
		color: $white;
		background-color: $purple;
	}

	&--transparent {
		background-color: transparent;
		color: $white;
		border-color: $white;

		&:hover,
		&:active {
			background-color: $blue;
			border-color: $blue;
			color: $accent;
		}
	}
}

.hidden {
	overflow: hidden;

	&::before {
		content: '';
		position: fixed;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;
		z-index: 111;
		transition: background 0.5s;
	}
}

.breadcrumbs {

	&--product {
		margin-bottom: 60px;

		@include laptop(){ 
			margin-bottom: 30px;
		}
	}

	&__list {
		display: flex;
		margin-bottom: 22px;
		flex-wrap: wrap;

		@include laptop(){ 
			margin-bottom: 0;
		}
	}

	&__item {
		margin: 0 5px;
	}

	&__link {
		font-size: 12px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
	}

	&__back {
		display: none;
		position: relative;
		padding-left: 24px;
		font-size: 10px;

		&::before {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			left: 0;
			bottom: -1px;
			background-image: url('../images/product/arrow-left.svg');
		}

		@include laptop(){ 
			display: block;
			margin-top: 20px;
		}
	}
}

.irs--flat .irs-line {
	top: 13px;
	height: 1px;
	background-color: $white;
	border-radius: 0;
}


.irs--flat .irs-handle {
	top: 11px;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: $blue;
}

.irs--flat .irs-handle>i:first-child {
	display: none;
}

.irs--flat .irs-bar {
	background-color: $blue;
	height: 1px;
	top: 13px;
}

.irs-from, .irs-to, .irs-single {
	display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
	display: none;
}

.irs--flat {
	height: 36px;
}




