%oswald {
	font-family: 'Oswald', sans-serif;
}

%cormorant{
	font-family: 'Cormorant', sans-serif;
}

$white: #fff;
$bg-section: #0F2222;
$black: #000;
$blue:  #43FFD2;
$purple: #7D2253;
$gray: #939393;
$gray-2: #7C7C7C;
$border: #555;
$silver: #395959;
$pink: #D978AC;
$green: #31985A;
$accent: #040A0A;
$bg: #282828;
$text: #0A1717;


@mixin desktop {
	@media screen and (max-width: 1080px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 850px) {
		@content;
	}
}

@mixin ipad {
	@media screen and (max-width: 670px) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: 520px) {
		@content;
	}
}

@mixin phone {
	@media screen and (max-width: 385px) {
		@content;
	}
}

%checkbox-hidden {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
}




