%oswald {
	font-family: 'Oswald', sans-serif;
}

%cormorant{
	font-family: 'Cormorant', sans-serif;
}

$white: #fff;
$black: #000;
$blue:  #43FFD2;
$purple: #7D2253;
$gray: #939393;
$pink: #D978AC;
$green: #31985A;
$accent: #040A0A;
$bg: #282828;
$text: #0A1717;




