.cart {

	&__status {
		position: absolute;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		font-weight: 300;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: $accent;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0%;
		right: 0%;
		z-index: 2;

		&--new {
			background-color: $pink;
		}
	}

	&__photo {
		filter: grayscale(100%); 
		transition: filter 0.5s linear;
		margin-bottom: 14px;
		&:hover {
			filter: grayscale(0); 
		}
	}

	&__subtitle {
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 400;
	}

	&__box {
		display: flex;
	}

	&__price {
		font-weight: 700;
		margin-bottom: 20px;
		display: block;

		&--old {
			color: $gray;
			font-weight: 300;
			text-decoration-line: line-through;
			margin-left: 10px;
		}
	}

	&__button {
		max-width: 220px;
	}
}