.catalog {
	background-repeat: no-repeat;
	background-size: cover;
	height: 73%;
	position: relative;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 30px;
	}

	&__box {
		max-width: 600px;
	}

	&__text,
	&__offer{
		padding-left: 90px;
		font-size: 20px;
		font-weight: 300;
	}

	&__text {
		margin-bottom: 30px;
		letter-spacing: 0.04em;
	}

	&__offer {
		letter-spacing: 0.02em;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		padding: 30px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		position: relative;
		border-radius: 20px;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(20px);
		width: 100%;
		z-index: 10;

		&--first {
			max-width: 445px;
			height: 281px;
		}

		&--second {
			max-width: 540px;
			margin-top: -90px;
			height: 310px;
		}

		&--third {
			height: 264px;
			max-width: 540px;
		}
	}

	&__shadow {
		position: absolute;
		color: $text;
		font-size: 200px;
		letter-spacing: 0.04em;
		font-weight: 700;
		left: -71px;
		top: -90px;
		z-index: -2;
	}

	&__subtitle {
		font-size: 30px;
		color: $blue;
		margin-bottom: 10px;
		max-width: 271px;
	}

	&__list {
		margin-bottom: 24px;
	}

	&__object {
		padding-left: 22px;
		font-size: 18px;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 9px;
		}

		&::before {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			background-color: $white;
			border-radius: 50%;
			left: 6px;
			top: 8px;
		}
	}

	&__link {
		color: $pink;
		text-decoration: underline;
		font-size: 12px;
		letter-spacing: 0.1em;
		position: absolute;
		bottom: 30px;
		right: 30px;
	}
}

