.header {
	background-repeat: no-repeat;
	background-size: cover;
	height: 200%;
	padding-bottom: 900px;
	margin-bottom: 100px;
	position: relative;
	background-image: url('../images/main/bg.png');
	transition: height 0.3s linear;

	
	@include desktop(){ 
		background-image: url('../images/main/mobile-bg.png');
		height: 100vh;
		padding-bottom: 0;
		margin-bottom: 0;
		background-position: 43% 50%;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 110px;
			bottom: 0;
			background: linear-gradient(180deg, rgba(4, 10, 10, 0) 0%, #040A0A 100%);
		}
	}

	&--catalog {
		padding-bottom: 0;
		margin-bottom: -30px;
		background-image: none;

		&::before {
			display: none;
		}

		@include desktop(){ 
			background-image: none;
			height: 72vh;
		}

		@include laptop(){ 
			height: 54vh;
		}

		@include phone(){ 
			height: 70vh;
		}
	}

	&--product {
		background-image: none;
		padding-bottom: 0;
		margin-bottom: 35px;
		height: 140px;
	}

	&--mobile-blur {
		&::after {
			content: '';
			position: fixed;
			background-color: rgba(0, 0, 0, 0.5);
			width: 100%;
			top: 0;
			height: 100%;
			z-index: 111;
			transition: background 0.5s;
		}
	}

	&__top {
		padding-top: 20px;
		padding-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&--catalog {
			padding-bottom: 0;
		}

		@include desktop(){ 
			display: none;
		}
	}

	&__main {

		&--catalog {

			@include ipad(){ 
				margin: 0 auto;
				margin-left: 0;
			}
		}
	}

	&__logo {
		margin-top: -20px;
	}

	&__container {
		@include desktop(){ 
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

		&--catalog {
			justify-content: flex-start;
		}

		@include mobile(){ 
			height: 120%;
		}
	}

	&__nav {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__points {
		letter-spacing: 0.04em;
		margin-right: 50px;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
	}

	&__object {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}

	&__link {
		transition: color 0.5s linear, text-decoration 0.5s linear;

		&:hover {
			color: $blue;
			text-decoration: underline;
		}
	}

	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__input {
		background-color: transparent;
		border: none;
		max-width: 75px;
		padding-right: 5px;

		&::placeholder {
			color: $white;
			text-transform: uppercase;
		}
	}

	&__contacts {
		letter-spacing: 0.1em;
		text-align: right;
		max-width: 265px;
	}

	&__box {
		margin-bottom: 26px;
		text-transform: uppercase;

		&--catalog {
			margin-bottom: 0;
		}

		span {
			font-weight: 300;
			font-size: 10px;
		}
	}

	&__mail {
		display: block;
		color: $blue;
	}

	&__address {
		font-size: 14px;
		color: $blue;
		margin-bottom: 4px;
	}

	&__time {
		display: flex;
		flex-direction: column;
	}

	
	&__middle {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--catalog {
			align-items: flex-start;
		}
	}

	&__title {
		text-align: center;
		max-width: 983px;
		margin: 0 auto;

		@include desktop(){ 
			display: none;
		}
	}

	&__socials {
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(20px);
		border-radius: 10px;
		padding: 20px 17px 20px 18px;

		&--catalog {
			margin-top: 80px;
		}

		@include desktop(){ 
			display: none;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__bottom {
		position: relative;
		display: flex;
		justify-content: space-between;
		text-align: center;
		margin-top: 60px;

		@include desktop(){ 
			margin-top: 0;
			margin-bottom: 20px;
			position: absolute;
			bottom: -24%;
			left: 0;
			width: 100%;
		}
	}

	&__case {
		margin: 0 auto;
	}

	&__text {
		font-size: 20px;
		margin-bottom: 47px;

		@include desktop(){ 
			margin-bottom: 20px;
			max-width: 288px;
		}
	}

	&__button {
		max-width: 220px;
	}

	&__panel {
		position: absolute;
		right: 0;
		bottom: -70px;
		padding-top: 40px;
		color: $blue;
		text-transform: uppercase;
		max-width: 180px;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&--catalog {
			bottom: 60px;
		}

		@include desktop(){ 
			display: none;
		}
	}

	&__tel {
		font-size: 16px;
		margin-bottom: 7px;

		&--catalog {
			font-size: 14px;
			margin-bottom: 10px;
			text-align: right;
		}
	}

	&__btn {
		position: relative;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(20px);
		border-radius: 10px;
		padding: 9px 19px 10px 40px;
		margin-bottom: 20px;
		color: $blue;
		text-transform: uppercase;
		font-size: 14px;

		&--catalog {
			max-width: 180px;
			width: 100%;
		}

		&::after {
			content: '';
			position: absolute;
			left: 18px;
			background-image: url('../images/icons/tel.svg');
			background-repeat: no-repeat;
			width: 16px;
			height: 16px;
		}
	}

	&__basket {
		max-width: 60px;
		width: 100%;
		height: 60px;
		position: relative;
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(20px);
		margin-left: auto;
		padding: 15px;

		span {
			position: absolute;
			color: $black;
			z-index: 2;
			font-size: 12px;
			text-transform: none;
			display: flex;
			justify-content: center;
			align-items: center;
			right: 14px;
			top: 14px;

			&::before {
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				background-color: $blue;
				border-radius: 50%;
				z-index: -1;
			}
		}

		@include desktop(){ 
			max-width: 40px;
			width: 100%;
			height: 40px;
			position: relative;
			border-radius: 10px;
			background: rgba(0, 0, 0, 0.2);
			backdrop-filter: blur(20px);
			padding: 11px;
			margin-left: 0;

			span {
				position: absolute;
				color: $black;
				z-index: 2;
				font-size: 8px;
				text-transform: none;
				display: flex;
				justify-content: center;
				align-items: center;
				right: 9px;
				top: 6px;

			&::before {
				content: '';
				position: absolute;
				width: 13px;
				height: 13px;
				background-color: $blue;
				border-radius: 50%;
				z-index: -1;
				}
			}
		}
	}

	&__bag {
		padding: 0;
	}
}




