.instagram {
	padding-top: 261px;
	padding-bottom: 200px;
	position: relative;
	overflow: hidden;

	@include desktop(){ 
		padding-top: 80px;
		padding-bottom: 100px;
	}

	&::before {
		content: '';
		position: absolute;
		background-image: url('../images/main/bg-inst.png');
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		top: 14%;
		z-index: -1;

		@include desktop(){ 
			background-image: url('../images/main/socials-bg.svg');
			top: 37%;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@include desktop(){ 
			flex-direction: column;
			align-items: center;
		}
	}

	&__photos {
		display: flex;
		margin-right: 30px;
		max-width: 730px;
		
		@include desktop(){ 
			order: 2;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 6px;
		}
	}

	&__photo {

		&:not(:last-child) {
			margin-right: 30px;

			@include desktop(){ 
				margin-right: 0;
			}
		}
	}

	&__socials {
		position: relative;
		height: 163px;
		width: 100%;
		max-width: 350px;
		position: relative;
		border-top: 1px solid $blue;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;

		@include desktop(){ 
			order: 1;
			border-top: none;
			height: 80px;
			align-items: initial;
			max-width: 280px;
		}

		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/icons/text-3.svg');
			background-repeat: no-repeat;
			width: 305px;
			height: 170px;
			top: -54%;
			left: -2%;

			@include desktop(){ 
				left: -9%;
				z-index: 1;
				background-image: url('../images/icons/text-6.svg');
			}
		}
	}

	&__item {
		position: relative;
		z-index: 3;

		&:not(:last-child) {
			margin-right: 30px;

			@include desktop(){ 
				margin-right: 20px;
			}
		}
	}
}

