.mobile-header {
	display: none;
	transition: background-color 0.5s ease-out;

	&--active {
		background-color: $black;
		position: fixed;
		z-index: 100;
		padding: 16px 0;
		left: 0;
		right: 0;
	}

	@include desktop(){ 
		padding-top: 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 14px;
	}

	&__burger {
		padding-top: 13px;
		width: 32px;
	}

	&__title {
		text-align: center;
		font-size: 50px;
		letter-spacing: 0.2em;
		line-height: 0.9;
		text-transform: uppercase;
		@extend %cormorant;
		font-weight: 300;
		transition: font-size 0.5s linear;

		@include mobile(){ 
			font-size: 40px;
		}

		&--active {
			font-size: 20px;
		}
	}

	&__bag {
		padding: 0;
	}
}


