.mobile-header {
	display: none;

	@include desktop(){ 
		padding-top: 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__burger {
		padding-top: 13px;
	}

	&__title {
		text-align: center;
		font-size: 50px;
		letter-spacing: 0.2em;
		line-height: 0.9;
		text-transform: uppercase;
		@extend %cormorant;
		font-weight: 300;

		@include mobile(){ 
			font-size: 40px;
		}
	}

	&__bag {
		padding: 0;
	}
}


