.suggestion {
	position: relative;
	margin-bottom: 200px;

	@include laptop(){ 
		display: none;
	}

	&::before {
		content: '';
		position: absolute;
		background-image: url('../images/product/bg-bottom.svg');
		background-size: cover;
		bottom: -37%;
		width: 100%;
		height: 800px;
		z-index: -1;
	}
	
	&__container {
		position: relative;
	}

	&__title {
		font-size: 30px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $blue;
		margin-bottom: 25px;
	}


	.cart {
	
		&__photo {
			filter: grayscale(0); 
		}
	
	
		&__button {
			max-width: 253px;
		}
	
	}

	.swiperPrev {
		position: absolute;
		top: 42%;
		left: -9%;
	}
	.swiperNext {
		position: absolute;
		top: 42%;
		right: -9%;
	}
	
}






