.tabs {
	margin-bottom: 100px;

	
	&__links {
		display: flex;
		max-width: 718px;
		justify-content: space-between;
		margin: 0 auto;
		margin-bottom: 60px;

		@include laptop(){ 
			margin-bottom: 21px;
		}
	}

	&__link {
		transition: color 0.5s ease, border-color 0.5s ease;
		text-decoration: none;
		color: $border;
		letter-spacing: 0.04em;
		font-size: 20px;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 28px;
		border-bottom: 3px solid $border;
		width: 365px;
		display: flex;
		justify-content: center;

		@include laptop(){ 
			font-size: 14px;
		}
	}

	.tabs__link.active {
		color: $blue;
		cursor: default; 
		border-color: $blue;
	}

	&__pane {
		display: none;

	}

	.tabs__pane.active {
		display: block;
	}

	&__subtitle {
		margin-bottom: 20px;
		color: $pink;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.04em;

		@include laptop(){ 
			font-size: 14px;
			margin-bottom: 10px;
		}
	}

	&__list {
		margin-bottom: 60px;
		max-width: 730px;

		@include laptop(){ 
			margin-bottom: 40px;
		}
	}

	&__item {
		letter-spacing: 0.02em;
		font-size: 20px;
		font-weight: 300;
		text-transform: uppercase;
		position: relative;
		padding-left: 30px;

		@include laptop(){ 
			font-size: 14px;
		}

		&::before {
			content: '';
			position: absolute;
			width: 4px;
			height: 4px;
			left: 14px;
			top: 12px;
			border-radius: 50%;
			background-color: $white;
		}

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__bold {
		font-weight: 700;
	}

	&__blue {
		color: $blue;
	}

	&__text {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 20px;
		letter-spacing: 0.02em;

		@include laptop(){ 
			font-size: 14px;
		}
	}

	&__info {
		display: block;
		margin-bottom: 60px;

		@include laptop(){ 
			margin-bottom: 40px;
		}
	}

	&__title {
		margin-bottom: 4px;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 0.06em;
		color: $blue;

		@include laptop(){ 
			font-size: 14px;
			margin-bottom: 10px;
		}
	}

	&__descr {
		letter-spacing: 0.06em;
		margin-bottom: 20px;
		display: block;

		@include laptop(){ 
			max-width: 287px;
			margin-bottom: 30px;
		}
	}

	&__raiting {
		letter-spacing: 0.06em;
		margin-bottom: 20px;

		span {
			display: block;
			margin-bottom: 4px;
		}
	}

	&__rating {
		width: 200px;
		height: 24px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
	}

	&__rating:not(:checked)>input {
		display: none;
	}

	&__rating:not(:checked)>label {
		width: 24px;
		cursor: pointer;
		font-size: 24px;
		color: lightgrey;
		text-align: center;
		line-height: 1;
	}

	&__rating:not(:checked)>label:before {
		content: '★';
	}

	&__rating>input:checked~label {
		color: $gold;
	}

	&__rating:not(:checked)>label:hover,
	&__rating:not(:checked)>label:hover~label {
		color: $gold;
	}

	&__rating>input:checked+label:hover,
	&__rating>input:checked+label:hover~label,
	&__rating>input:checked~label:hover,
	&__rating>input:checked~label:hover~label,
	&__rating>label:hover~input:checked~label {
		color: $gold;
	}

	&__form {
		max-width: 540px;
		width: 100%;
	}
}

.form {
	letter-spacing: 0.06em;

	@include laptop(){ 
		font-size: 14px;
	}

	&__label {
		margin-bottom: 4px;
	}

	&__textarea,
	&__input {
		margin-bottom: 20px;
		border: 1px solid $border;
		background-color: transparent;
		width: 100%;
		padding: 19px 20px;
		color: $blue;

		&::placeholder {
			text-transform: uppercase;
			color: $border;
			letter-spacing: 0.04em;
			font-size: 14px;
		}
	}

	&__textarea {
		resize: none;
		min-height: 180px;
	}

	&__input {
		&--mb {
			margin-bottom: 30px;
		}
	}

	&__button {
		max-width: 255px;
		margin-bottom: 10px;
	}

	&__info {
		font-size: 10px;
		letter-spacing: 0.02em;
		max-width: 324px;
	}

	&__link {
		color: $pink;
	}
}






